<% include ./_cpanelHeader.ejs%>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
                <%for(var u of cats){%>
                <tr>
                    <td></td>
                    <td><%= u.Name %></td>
                    <!--TODO Later Edit Category and its posts-->
                    <td><a class="btn btn-primary" href="/controlpanel/categories/edit/<%= u.Name %>">Edit</a></td>
                </tr>
            <%}%>
            </tbody>
        </table>
<% include ./_cpanelFooter.ejs%>